.custom-menu-button a{
    color: #ffffff;  		
    background-color: #38b6ff; 
    padding: 10px 10px; 		
    border-radius: 3px; 
    border: solid #000000 0px; 
    max-height: 40px; 	
}

.custom-menu-button a:before{
    content: '🖊️'; 	
    margin-right:5px; 		
}

.custom-menu-button a:hover{
    color: #ffffff; 		
    background-color: #35a8ea; 	
    border: solid #000 0px; 
}

.custom-menu-button:hover{
    text-decoration: none;
    color:#fff!important;
}
